#authentication {
    width           : 25vw;
    margin          : 25vh auto;
    padding         : 70px 40px;
    display         : flex;
    flex-direction  : column;
    background-color: var(--background-light-1);
}

#authentication>section.header {
    width        : 100px;
    height       : 100px;
    margin       : auto;
    display      : flex;
    border-radius: 100%;
    overflow     : hidden;
}

#authentication>section {
    margin: unset;
    color : #fff;
}

#authentication>section.header>img {
    width             : 90%;
    height            : 90%;
    margin            : auto;
    object-fit        : cover;
    border-radius     : 100%;
    box-shadow        : 1px 0px 12px 0px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 1px 0px 12px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow   : 1px 0px 12px 0px rgba(0, 0, 0, 1);
}

#authentication>:is(b, a) {
    margin-left: 15%;
}

#authentication>b {
    margin-top: 30px;
    font-size : 1.2em;
}

#authentication>ul {
    margin-left: 25%;
}

#authentication ul ul {
    padding-top: 1ex;
}

#authentication ul li:not(:last-child) {
    margin-bottom: 1ex;
}
