{% extends "core.html" %}

{% use "core.html" with css as core_css, body as core_body, js as core_js, js_init as core_js_init %}
{% use "header.html" with css as header_css, body as header_body, js as header_js, js_init as header_js_init %}
{% use "aside.html" with css as aside_css, body as aside_body, js as aside_js, js_init as aside_js_init %}
{% use 'graph/index.html' with css as graph_css, main as graph_main, js as graph_js, js_init as graph_js_init %}

{% block css %}
{{ block('core_css') }}
{{ block('header_css') }}
{{ block('aside_css') }}
{{ block('graph_css') }}
{% endblock %}

{% block body %}
{{ block('core_body') }}
{{ block('aside_body') }}
{{ block('header_body') }}

<main>
	<noscript>К сожалению мой сайт ещё пока не готов для работы без javascript</noscript>
	{% block main %}
{{ block('graph_main') }}
{% endblock %}
</main>

{# {% include 'footer.html' %} #}
{% endblock %}

{% block js %}
{{ block('core_js') }}
{{ block('header_js') }}
{{ block('aside_js') }}
{{ block('graph_js') }}
{% endblock %}

{% block js_init %}
{{ block('core_js_init') }}
{{ block('header_js_init') }}
{{ block('aside_js_init') }}
{{ block('graph_js_init') }}
{% endblock %}
