{% extends "core.html" %}

{% use "core.html" with css as core_css, body as core_body, js as core_js, js_init as core_js_init %}
{% use "header.html" with css as header_css, body as header_body, js as header_js, js_init as header_js_init %}
{% use "aside.html" with css as aside_css, body as aside_body, js as aside_js, js_init as aside_js_init %}

{% block css %}
{{ block('core_css') }}
{{ block('header_css') }}
{{ block('aside_css') }}
{% endblock %}

{% block body %}
<main>
	<noscript>К сожалению мой сайт ещё пока не готов для работы без javascript</noscript>
	{% block main %}
	{{ nodes.account|raw }}
	{% endblock %}
</main>
{% endblock %}

{% block js %}
{{ block('core_js') }}
{{ block('header_js') }}
{{ block('aside_js') }}
{% endblock %}

{% block js_init %}
{{ block('core_js_init') }}
{{ block('header_js_init') }}
{{ block('aside_js_init') }}
{% endblock %}
